/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug */
.debug{
    border: 1px solid red;
}

/* general */
html{
    scroll-behavior: smooth;
}

.wrapper{
    height: 100vh;
    background-color: var(--color-black-main);
}

.toolbar{
    height: 100px;
    background-color: var(--color-black-toolbar);
}

.content{
    height: calc(100vh - 100px);
    width: 100%;
    background-color: var(--color-black-main)
}

ul{
    list-style: none;
}

/* utility colors */:root {
	--color-black-main: #141922;
	--color-black-sidebar: #000000;
	--color-black-toolbar: #282828;
	--color-grey-icons: #d9d9d9;
	--color-white: #ffffff;
	--color-black-transparent: #717171;
	--color-grey-text: #717171;
	--color-lime-green: #adff2f;
}

/* utility text */
.white-text{
    color: var(--color-white);
}

.grey-text{
    color:var(--color-grey-text)
}

.capitalize{
    text-transform: capitalize;
}

body{
    font-family:"Montserrat", sans-serif;
}

/* MAIN CONTENT */

/* main */
main{
    width: calc(100% - 200px);
    padding-top: 100px;
    overflow-y: auto;
    background-color: var(--color-black-main);
    color: var(--color-white);
}

/* toolbar */
#toolbar{
    background-color: var(--color-black-toolbar);
    height: 100px;
}
/* sidebar */
#sidebar{
    width: 200px;
    background-color: var(--color-black-sidebar);
    color: var(--color-white);
}

/* header */
#header{
height: 80px;
width: calc(100% - 200px);
position: fixed;
top: 0;
left: 200px;
background-color: rgba(0, 0, 0, 0.5);
}