/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug */
.debug{
    border: 1px solid red;
}

/* general */
html{
    scroll-behavior: smooth;
}

body{
    font-family:"Montserrat", sans-serif;
    font-size: 1em;
}

.wrapper{
    height: 100vh;
    background-color: var(--color-black-main);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* utility colors */:root {
	--color-black-main: #141922;
	--color-black-sidebar: #000000;
	--color-black-toolbar: #282828;
	--color-grey-icons: #d9d9d9;
	--color-white: #ffffff;
	--color-black-transparent: #717171;
	--color-grey-text: #717171;
	--color-lime-green: #adff2f;
}

.bg-grey{
    background-color: var(--color-grey-text);
}

/* utility text */
.white-text{
    color: var(--color-white);
}

.grey-text{
    color:var(--color-grey-text)
}

.black-text{
    color: var(--color-black-sidebar);
}

.text-decoration{
    text-decoration: none;
}

.uppercase{
    text-transform: uppercase;
}

.text-center{
    text-align: center;
}

.subtitle{
    font-size: 0.8em;
}

/* Buttons */
.btn-black{
    background-color: var(--color-black-sidebar);
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    margin-right: 40px;
    margin-bottom: 38px;
}

/* flex utility */
.d-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.j-content-flex-end{
    justify-content: flex-end;
}

.j-content-center{
    justify-content: center;
}

.a-items-center{
    align-items: center;
}

.a-content-center{
    align-content: center;
}
.direction-column{
    flex-direction: column;
}

/* header navbar */
#header{
    height: 80px;
    width: calc(100% - 200px);
    position: fixed;
    top: 0;
    left: 200px;
    z-index: 3000;
    background-color: rgba(0, 0, 0, 0.531);
    padding-top: 35px;
    font-size: 0.8em;
    font-weight: 800;
}
    
/* MAIN CONTENT */

.content{
    height: calc(100vh - 100px);
    width: 100%;
    background-color: var(--color-black-main)
}

/* main */
main{
    width: calc(100% - 200px);
    padding: 100px 20px 20px 20px;
    overflow-y: auto;
    background-color: var(--color-black-main);
    color: var(--color-white);
}

#navbar{
    max-width: 700px ;
    margin: auto;
    padding-bottom: 40px;
}

.cards-container{
    gap: 20px;
}

.single-card{
    width: calc(100% / 6 - 20px);
    padding-top: 20px;
}

main img{
    width: 100%;
    display: block;
    aspect-ratio: 1 / 1;
}

.rounded-img{
    border-radius: 50%;
}

main h3, .subtitle{
    padding-top: 10px;
}

.center-row h2{
    padding-top: 40px;
}


/* toolbar */
#toolbar{
    background-color: var(--color-black-toolbar);
    height: 100px;
}
/* sidebar */
#sidebar{
    width: 200px;
    background-color: var(--color-black-sidebar);
    color: var(--color-white);
}

#playlist{
    margin-bottom: 20px;
}

#squared-btn{
    padding: 12px 12px 12px 12px;
    width: 40px;
    height: 40px;
    position: relative;
}

.fa-plus{
   /*  text-align: center;
    vertical-align: middle; */
    font-weight: 900;
    font-size: 1.5em;
    line-height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-a{
    padding-left: 2px;
}


